<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Blog Add</title>
    <%- include('./partials/navbar') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Blog Add</h1>
    <p>**UNDER CONSTRUCTION**</p>
  </body>
</html>
