<!DOCTYPE html>
<html>
  <head>
    <title>Blog Add</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Blog Add</h1>
    <p>**UNDER CONSTRUCTION**</p>
  </body>
</html>
