<!DOCTYPE html>
<html>
  <head>
    <title>Logan Wasmer's Blog Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Logan Wasmer's Blog Site</h1>
    <p>This website will allow you to add your own blog, as well as rate blogs.</p>
  </body>
</html>
