<!DOCTYPE html>
<html>
  <head>
    <title>Logan Wasmer's Blog Site</title>
    <%- include('./partials/navbar') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1>Logan Wasmer's Blog Site</h1>
    <p>This website will allow you to add your own blogs.</p>
  </body>
</html>
