<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/navbar') %>
    <%- include('./partials/layout') %>
    <title>Blog Delete</title>
  </head>
  <body>
    <h1>Blog Delete</h1>
    <p>**UNDER CONSTRUCTION**</p>
  </body>
</html>
