<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/navbar') %>
    <%- include('./partials/layout') %>
    <title>Blog Add</title>
  </head>
  <body>
  <div class="container">
  <p></p>
  <div class="card border-primary" style="width: 50%">
    <form action="/blogAdd/" method="post" style="padding: 20px; font-size: 18px" >
      <div class="form-group">
        <label for="summary" class="text-primary">Blog Title</label>
        <input type="text" class="form-control" id="title" name="title">
        <p></p>
        <label for="text" class="text-primary">Blog Text</label>
        <textarea class="form-control" id="text" rows="3" name="text"></textarea>
        <p></p>
      </div>

      <input type="submit" class="btn btn-primary" value="Add Blog">
    </form>
  </div>
  </div>
  </body>
</html>
