<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/navbar') %>
    <%- include('./partials/layout') %>
    <title>Logan Wasmer's Blog Site</title>
  </head>
  <body>
    
    <h1>Logan Wasmer's Blog Site</h1>
    <p>This website will allow you to add your own blogs.</p>
  </body>
</html>
